.bar {
  background-color: turquoise;
  width: 10px;
  margin: 2px;
  border: 1px solid black;
}

.box-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  height: 60vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}

input[type='number'],
input[type='range'],
select {
  margin-left: 10px;
  padding: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown,
.inpt {
  margin: 15px;
}